.Nosotros {
  width: 100%;
  padding: 0 10px 60px 10px;
  padding-bottom: 60px;
  margin: 0 20px;
}

.Nosotros p {
  font-weight: bold;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .Nosotros {
    max-width: 30%;
  }
}
