body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  padding: 10px;
  padding-top: 30px;
}
